$main: #471515;

main {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10%;
}

.line {
  height: 20rem;
  margin: 0 2rem;
  width: 1px;
  background-color: $main;
}